doctype
head
    title  Canvas Skeleton
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='js/main.js')
body
    #drawing_container
        p.
            what up man



