doctype
head
    title  Canvas Skeleton
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='js/main.js')
body
    #drawing_container
        #myDiv
          h2 Let AJAX change this text
            button(type='button', onclick='loadXMLDoc()').
                Change Content


