doctype
head
    title  Canvas Skeleton
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='js/canvas.js')
body
    #drawing_container
        canvas(id ="canvas" width = "500" height = "500")
        p.
            what up man



